#I/O Pin Assignments
NET "ps2_clk"  LOC = "H9"  |CLOCK_DEDICATED_ROUTE = FALSE;
NET "ps2_data"  LOC = "H10"  ;

NET "sys_clk"				LOC = "AG18" ; #100M
NET "sys_rst"				LOC = "G15"  ;
//NET "Bus2IP_Reset"		LOC = "G16"  ;
//NET "button1"				LOC = "K17"  ;
//NET "button2"				LOC = "H17"  ;
//NET "button3"				LOC = "H18"  ;
//NET "button4"				LOC = "K18"  ;
//NET "button5"				LOC = "L18"  ;

Net "CH7301_clk_p"		LOC = "K11";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_clk_n" 		LOC = "J11";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_data<0>" 	LOC = "G10";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_data<1>" 	LOC = "G8";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_data<2>" 	LOC = "B12";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_data<3>" 	LOC = "D12";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_data<4>" 	LOC = "C12";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_data<5>" 	LOC = "D11";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_data<6>" 	LOC = "F10";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_data<7>" 	LOC = "D10";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_data<8>" 	LOC = "E9";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_data<9>" 	LOC = "F9";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_data<10>" 	LOC = "E8";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_data<11>" 	LOC = "F8";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_h_sync"		LOC = "H8";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_v_sync"		LOC = "F13";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_de"			LOC = "V10";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_scl"			LOC = "U8";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_sda"			LOC = "V8";#	|	IOSTANDARD=LVCMOS33;
NET "CH7301_rstn"			LOC = "AF23";#	|	IOSTANDARD=LVCMOS33;




Net "xsvi_debug<0>"   LOC = "AG8";
Net "xsvi_debug<1>"   LOC = "AH8";
Net "xsvi_debug<2>"   LOC = "AH9";
Net "xsvi_debug<3>"   LOC = "AG10";
Net "xsvi_debug<4>"   LOC = "AH10";
Net "xsvi_debug<5>"   LOC = "AG11";
Net "xsvi_debug<6>"   LOC = "AF11";
Net "xsvi_debug<7>"   LOC = "AE11";

#NET "v_sysc"  LOC = "D11"  ;
#NET "h_sysc"  LOC = "B8"  ;
#NET "vga_out_blank"  LOC = "A8"  ;
#NET "vga_comp_synch"  LOC = "G12"  ;
#NET "vga_clk"  LOC = "H12"  ;
#NET "vga_red[7]"  LOC = "H10" ;
#NET "vga_red[6]"  LOC = "C7" ;
#NET "vga_red[5]"  LOC = "D7" ;
#NET "vga_red[4]"  LOC = "F10" ;
#NET "vga_red[3]"  LOC = "F9" ;
#NET "vga_red[2]"  LOC = "G9" ;
#NET "vga_red[1]"  LOC = "H9" ;
#NET "vga_red[0]"  LOC = "G8" ;
#NET "vga_blue[7]"  LOC = "E14" ;
#NET "vga_blue[6]"  LOC = "D14"  ;
#NET "vga_blue[5]"  LOC = "D13"  ;
#NET "vga_blue[4]"  LOC = "C13"  ;
#NET "vga_blue[3]"  LOC = "J15"  ;
#NET "vga_blue[2]"  LOC = "H15"  ;
#NET "vga_blue[1]"  LOC = "E15"  ;
#NET "vga_blue[0]"  LOC = "D15"  ;
#NET "vga_green[7]"  LOC = "E11"  ;
#NET "vga_green[6]"  LOC = "G11"  ;
#NET "vga_green[5]"  LOC = "H11"  ;
#NET "vga_green[4]"  LOC = "C8"  ;
#NET "vga_green[3]"  LOC = "D8"  ;
#NET "vga_green[2]"  LOC = "D10"  ;
#NET "vga_green[1]"  LOC = "E10"  ;
#NET "vga_green[0]"  LOC = "G10"  ;
NET "sys_clk" TNM_NET = "sys_clk";

//NET "song_led[0]" LOC = AA5;
//NET "song_led[1]" LOC = AA6;

#PACE: Start of Constraints generated by PACE
#PACE: Start of PACE I/O Pin Assignments
//NET "AC97Clk" IOSTANDARD = LVCMOS25;
//NET "AC97Reset_n" IOSTANDARD = LVCMOS25;
//NET "AC97Reset_n" SLEW = SLOW;
//NET "AC97Reset_n" DRIVE = 8;
#NET "sys_clk"  LOC = "AJ15"  ;
#NET "next_button" LOC = G15;
#NET "play_button" LOC = G16;
#NET "play_led" LOC = AE11;
#NET "reset_n" LOC = K17;
//NET "SData_In" IOSTANDARD = LVCMOS25;
//NET "SData_Out" IOSTANDARD = LVCMOS25;
//NET "SData_Out" SLEW = SLOW;
//NET "SData_Out" DRIVE = 8;
//NET "song_led[0]"  LOC = "aa6"  ;
//NET "song_led[1]"  LOC = "aa5"  ;
//NET "Sync"  LOC = "F7" |IOSTANDARD = LVTTL  |SLEW = SLOW  |DRIVE = 8 ;

#PACE: Start of PACE Area Constraints
#PACE: Start of PACE Prohibit Constraints
#PACE: End of Constraints generated by PACE
#Created by Constraints Editor (xc4vlx80-ff1148-12) - 2015/07/14
//NET "AC97Clk" TNM_NET = "AC97Clk";

//NET "Sync" LOC = J9;
#Created by Constraints Editor (xc5vlx50t-ff1136-2) - 2015/07/14
//TIMESPEC TS_clk = PERIOD "sys_clk" 100 MHz HIGH 50 %;
//TIMESPEC TS_AC97Clk = PERIOD "AC97Clk" 12 MHz HIGH 50%;


NET "sys_clk" IOSTANDARD = LVCMOS25;
//NET "Sync" IOSTANDARD = LVCMOS25;

#NET "sys_clk"				LOC = "AJ15" ; #100M
# PlanAhead Generated physical constraints 
//NET "AC97Clk" LOC = AH17;
//NET "AC97Reset_n" LOC = E12;
//NET "SData_In" LOC = AE18;
//NET "SData_Out" LOC = AG20;
#Created by Constraints Editor (xc5vlx50t-ff1136-2) - 2016/07/07
//NET "display_inst/disp/clk_div/clk_25mhz1" TNM_NET = display_inst/disp/clk_div/clk_25mhz1;
//TIMESPEC TS_display_inst_disp_clk_div_clk_25mhz1 = PERIOD "display_inst/disp/clk_div/clk_25mhz1" 25 MHz HIGH 50%;
//NET "display_inst/disp/clk_div/clk_500khz1" TNM_NET = display_inst/disp/clk_div/clk_500khz1;
//TIMESPEC TS_display_inst_disp_clk_div_clk_500khz1 = PERIOD "display_inst/disp/clk_div/clk_500khz1" 500 KHz HIGH 50%;
